:root {
  --background1: #0A0430;
  --background2: #150F3D;
  --background3: #3B2E7D;
  --text1: #FFF;
  --text2: #CCC;
  --text3: #AAC;
  --highlight1: #EF8D5C;
  --highlight2: #ED6150;
}

* {
  box-sizing: border-box;
}
html, body { 
  background-color: var(--background1);
  color: var(--text1);
  font-family: sans-serif;
}
a, a:visited {
  color: var(--text1);
}
hr {
  border-color: var(--background3);
}

.board__title {
  text-align: center;
  color: var(--highlight1);
  background: linear-gradient(90deg, var(--highlight1), var(--highlight2));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.board__tag {
  text-align: center;
  color: var(--highlight2);
}
.board__title, .board__tag {
  margin: .25em;
}

.thread-return-container {
  text-align: center;
}
.thread-return {
  margin: 1em auto;
  background-color: var(--highlight1);
  color: var(--background1);
  font-weight: bold;
  display: inline-block;
  padding: .25em .5em;
}
.thread-return a:not(:hover) {
  background-color: var(--highlight1);
  color: var(--background1);
}

.form {
  margin: auto;
}
.form * {
  font-size: 16px;
}
.form .form__error th, .form .form__error td {
  background: var(--highlight2);
  color: var(--background1);
  padding: .5em;
}
.form th {
  background-color: var(--background2);
  color: var(--text2);
  text-align: left;
}
.form input[type="text"], .form textarea, .form button[type="submit"] {
  background: var(--background2);
  border: 1px solid var(--background3);
  color: var(--text1);
}
.form button[type="submit"] {
  min-width: 7ch;
  margin-left: .75ch;
}
.form button[type="submit"]:hover {
  background: var(--background3);
  color: var(--highlight1);
  border: 1px solid var(--highlight1);
}
.form input[type="file"] {
  display: block;
}

.thread {
  padding: 0 .5em;
  margin-bottom: 1em;
}
.post__content {
  color: var(--text2);
  padding: .75em 1em;
  display: inline-block;
  max-width: 100%;
}
.post:target .post__content {
  border-color: var(--highlight1);
  background-color: var(--background3);
}
.post__head {
  margin-bottom: .25em;
  word-wrap: break-word;
}
.post__subject {
  font-weight: bold;
  color: var(--highlight2);
}
.post__author {
  font-weight: bold;
  color: var(--highlight1);
}
.post__link-show, .post__link-quote {
  text-decoration: none;
  color: var(--text2);
}
.post__link-show:hover, .post__link-quote:hover {
  text-decoration: underline overline;
  color: var(--text1);
}
.post__body {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.post__files {
  margin-bottom: .5em;
}

.post__files--multi .file {
  float: left;
  margin-right: 1em;
}

.post__files--multi .file__info {
  max-width: 300px;
}

.post__files--multi+.post__body {
  clear: both;
}

.file__img {
  max-width: 300px;
  max-height: 250px;
  height: auto;
  width: auto;
  padding: .5em;
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.thread__posts .post__content {
  border: 1px solid var(--background3);
  background-color: var(--background2);
  margin-top: .75em;
}
